/* 共通 */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/* /共通 */
.user-info {
  padding: 3vh 5vh 2vh;
}
.new-memo {
  display: flex;
  align-items: center;
  padding: 3vh 5vh 2vh;
}

.new-memo-btn {
  background-color: #ffd700;
  border-radius: 10%;
  padding: 8px;
  margin-left: 3vh;
}

.lists {
  margin:  0 5vh 1vh;
  width: 80%;
}

.memo-title {
  width: 40%;
}

.memo-time {
  width: 40%;
}