/* 共通 */
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
/* /共通 */

.user-info {
  padding: 3vh 5vh 2vh;
  display: flex;
  align-items: center;
}

.user-profile {
  margin-left: 3vh;
  display: none;
}

.new-memo {
  display: flex;
  align-items: center;
  padding: 3vh 5vh 2vh;
}

.new-memo-btn {
  background-color: #ffd700;
  border-radius: 10%;
  padding: 8px;
  margin-left: 3vh;
}

.lists {
  margin:  0 5vh 1vh;
  width: 80%;
}

.lists>thead>tr>th {
  text-align: left;
}

.memo-title {
  width: 40%;
}

.memo-time {
  width: 40%;
}

.day-events-title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.event-list {
  display: none;
}

.active {
  display: block;
}

.event-list-info {
  border-bottom: 1px solid #eee;
  padding: 0.5em;
  color: #494949;
  border-left: solid 4px #ffaf58;
  display: flex;
  justify-content: space-between;
}

.event-none {
  padding-top: 30px;
  text-align: center;
}

/* スマホ表示時 */
@media (max-width: 576px) {
  .user-info {
    padding: 3vh 2vh;
  }
  .new-memo {
    padding: 3vh 2vh;
  }
  .new-memo-btn {
    padding: 6px;
    margin-left: 2vh;
  }
  .lists {
    width: 100%;
    margin: 0 0 1vh;
  }
  .memo-btn {
    display: none;
  }
  .day-events {
    display: none;
  }
}