.container-fluid {
  height: 100vh;
  background-color: #ffffdd;
}

.row {
  padding: 5vh 0 0;
  background-color: inherit;
}

.new-event {
  margin: 0 auto;
  margin-top: 5vh;
  background-color: #fff;
}

.new-heading {
  border-bottom: 1px solid #eee;
  padding: 2vh;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.form>label {
  padding: 2vh 0;
}

.fa-image {
  color: #aaa;
}

.fa-image:hover:after {
  content: "画像";
  font-size: 13px;
  text-align: center;
  padding: 4px;
  color: #fff;
  background-color: #777;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.submit {
  width: 50%;
  
  padding: 2vh 0;
}