.container-fluid {
  height: 100vh;
}

.new-event {
  margin: 0 auto;
  background-color: #ffffdd;
  margin-top: 5vh;
}

.new-heading {
  border-bottom: 1px solid #eee;
  padding: 2vh;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.form>label {
  padding: 2vh 0;
}

.submit {
  width: 50%;
  
  padding: 2vh 0;
}
